body {
  background-color: rgba(255, 228, 196, 0.63);
}

h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 0px 0px 5px;
    background-color: #27aedb;
}
button:hover {
  background-color: #27aedb7e;
}


table {
    border-collapse: collapse;
    width: 100%;
  }
  
table, th, td {
  border: 1px solid black;
}
  
th, td {
  text-align: center;
  padding: 5px;
}
  
th {
  background-color: #f2f2f2;
}
  
#year {
  float: right;
  margin-right: 50px;
  margin-bottom: 20px;
  font-size: 1.6rem;
}

#month {
  width: 150px;
  height: 30px;
  margin-left: 30px;
  cursor: pointer;
}
  
  
